*{
	margin: 0px;
	padding: 0px;
}
body{
	height:100vh;
	background: #f5f5f5;
}
#main_div{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
#info_context{
	width: 82%;
	height:calc(100% - 80px);
	float: right;
	margin:auto;
	margin-right: 2%;
	background: #f5f5f5;
}

#loginModalIframe{
	display:none;
	position: fixed;
	left: 0;
	top: 0;
}

#musicListModalIframe{
	display:none;
	position: fixed;
	left: 0;
	top: 0;
}

#musicPlayViewIframe{
	display:none;
	position: fixed;
	left: 0;
	top: 0;
}

#songSheetModalIframe{
	display:none;
	position: fixed;
	left: 0;
	top: 0;
}

#ts{
	position: fixed;
	bottom: 14%;
	left: 50%;
	width:130px;
	height:36px;
	text-align: center;
	border-radius:20px;
	background: rgba(0,0,0,0.25);
	display:none;
}
#ts a{
	line-height: 36px;
	font-size: 13px;
	color: #eff;
}